@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';

@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));

.my-app-dark .dp__theme_dark {
  --dp-background-color: theme(--color-zinc-700);
  --dp-text-color: theme(--color-red-500);
  --dp-hover-color: theme(--color-zinc-600);
  --dp-border-color: theme(--color-zinc-600);
  --dp-menu-border-color: theme(--color-zinc-600);
  --dp-secondary-color: theme(--color-zinc-500);
}
@layer base {
  html {
    @apply text-zinc-900 ;
  }

  .my-app-dark {
    @apply text-zinc-200 ;
  }
}
.transition-custom{
  @apply transition delay-150 duration-300
}
.form {
  @apply mx-auto w-full md:w-1/2 border border-zinc-400 p-3 rounded-lg;
}

.form-title {
  @apply text-center font-bold text-2xl mt-10 mb-5;
}

.groups-container {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mb-5 p-4
}
.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  @apply bg-zinc-300 dark:bg-zinc-700 rounded-full;
}

.scrollbar-thin:hover::-webkit-scrollbar-thumb {
  @apply bg-zinc-400 dark:bg-zinc-600;
}
/* Custom scrollbar styles */
.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  @apply bg-zinc-300 dark:bg-zinc-700 rounded-full;
}

.scrollbar-thin:hover::-webkit-scrollbar-thumb {
  @apply bg-zinc-400 dark:bg-zinc-600;
}
